.app-header {
  background-color: #181818;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.app-header-logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 2px;
}

.app-header-logo-end {
  color: #dddddd;
  font-size: 20px;
  margin-left: 4px;
}

.app-main {
	display: flex;
}

.app-main-sidebar {
  display: flex;
  flex-direction: column;
}

.app-main-sidebar-link {
  color: #cccccc;
	text-decoration: none;
}